$primary-color: #0d6efd;
$hero-bg: linear-gradient(to right, #0d6efd, #6610f2);
$secondary-color: #8A8787;
$bg-color: #243043;


$font-size-s: 10px;
$font-size-m: 15px;
$font-size-l: 20px;
$font-size-xl: 24px;